@font-face {
  font-family: "maakudafont";
  src: url("./fonts/MAAKUDA.ttf");
}
@font-face {
  font-family: "mono";
  src: url("./fonts/CutiveMono-Regular.ttf");
}

body {
  background-color: #cacaca;
  font-family: monospace;
  /* margin: 0% 6% 0 0%; */
}

h1 {
  text-shadow: 2px 2px #fff;
  text-decoration: none;
  text-align: center;
  font-family: "maakudafont";
  animation: 0.7s ease-out slideInFromUp;
}

.footer {
  text-align: center;
  display: contents;
  margin-top: 4%;
}

a {
  text-decoration: none;
  color: black;
}
.lottie {
  margin: 0 auto;
}

.icon {
  width: 40%;
  margin: 0 auto;
  padding: 1% 0 0 3%;
}

Iframe {
  width: 250px;
  height: 30px;
  border: 2px solid black;
  margin: 2% auto;
}

/*******************************Sidenav****************************/

.sidenav {
  height: 100%;
  width: 7%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #e6b31e;
  border-left: 12px rgb(255, 255, 255) solid;
  font-weight: 600;
}
.sidenav:after {
  border-left: 3px solid rgb(0, 0, 0);
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  z-index: -1;
}
.sidenav a {
  writing-mode: vertical-rl;
  font-family: "maakudafont";
  font-size: 1.2rem;
  margin: 340% 0 0 20%;
}
.sidenav a:hover {
  color: #f1f1f1;
}
/*******************************LOGOS****************************/

.logos-index {
  text-align: center;
}
.logos-index a :hover {
  color: rgb(150, 1, 1);
}

@keyframes slideInFromUp {
  0% {
    transform: translateY(-45%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacity {
  0% {
    opacity: 0.4;
  }
  100% {
  }
}

.logos a :hover {
  color: rgb(150, 1, 1);
}

.copyright {
  font-size: 0.6rem;
  padding-top: 1%;
  text-align: center;
  font-family: "maakudafont";
}

.tamir {
  font-weight: 400;
  text-decoration: underline;
}
.tamir:hover {
  cursor: pointer;
  color: rgb(150, 1, 1);
}
.label-name {
  font-family: "maakudafont";
  font-weight: 800;
  font-size: 0.8rem;
}

.logo {
  display: block;
  margin: 0 auto;
}

/*******************************ABOUT-PAGE****************************/
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.about-text,
.stpn-text {
  font-size: 1.4em;
  background-color: #e6b31e;
  border-top: 0.6em white solid;
  border-bottom: 0.2em rgb(255, 255, 255) solid;
  box-sizing: border-box;
  padding: 0 5% 0 2%;
}

.form {
  display: block;
  padding: 1% 1%;
  background-color: #e6b31e;
  font-size: 1rem;
  text-align: center;
  font-family: "mono";
  font-weight: 800;
  border-top: 14px rgb(255, 255, 255) solid;
  border-bottom: 5px rgb(0, 0, 0) solid;
}

form a:hover {
  color: rgb(150, 1, 1);
}

/*******************************MUSIC****************************/

.releases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.rel-item {
  margin: 1% 4%;
}

.rel-item p {
  font-size: 1.6rem;
}
.artist-name {
  font-size: 1.3em;
}

.rel-img {
  width: 25%;
  border: 12px solid white;
  outline: 5px solid #e6b31e;
}

.rel-img:hover {
  opacity: 0.6;
}
.aboutimg,
.band-photo {
  max-width: 100%;
}

/************************IPHONE***********************************/

@media screen and (max-device-width: 550px) {
  h1 {
    font-size: 1.5rem;
    margin: 0;
  }

  .home-h1 {
    font-size: 1.1rem;
    margin-top: 12%;
  }

  .copyright {
    font-size: 0.55rem;
    padding-top: 1%;
  }
  /************************Sidenav***********************************/

  .sidenav {
    width: 12%;
    border-left: 8px rgb(255, 255, 255) solid;
  }

  .sidenav a {
    margin: 283% 28% 0 22%;
    font-size: 1.3rem;
  }

  /************************LOGOS***********************************/

  .lottie {
    margin-top: 38%;
  }
  .app-index {
    width: 92%;
  }
  .logos-index {
    margin-top: 45%;
  }
  .logo {
    width: 70%;
  }
  .logos {
    font-size: 0.8rem;
  }
  .logos-index i {
    font-size: 1.7rem;
  }

  .icon {
    width: 33%;
    margin: 0 auto;
  }

  /************************Releases***********************************/

  .rel-item p {
    font-size: 1rem;
  }

  /************************ABOUT***********************************/

  .about-text,
  .stpn-text {
    font-size: 1rem;
    padding: 2% 14% 2% 2%;
    max-width: 100%;
  }

  .band-photo {
    width: 90%;
  }
  .aboutimg {
    width: 80%;
    margin: 0 6% 2% 0;t
  }
}
/************************TABLET***********************************/
@media screen and (min-width: 551px) {
  h1 {
    font-size: 1.8rem;
    margin: 0;
  }

  /************************LOGOS***********************************/

  .lottie {
    margin-top: 0;
    width: 89%;
    z-index: -1;
  }

  .icon {
    margin: unset;
    width: 15%;
    padding-top: 3%;
  }

  .logo {
    width: 60%;
  }

  .logos-index {
    margin-top: 15%;
  }

  Iframe {
    margin: 0 auto;
  }

  /************************RELEASES***********************************/

  .stpn-title {
    padding-left: 0;
  }

  .rel-item p {
    font-size: 1rem;
    padding-right: 20%;
    padding-left: 19%;
    font-weight: 800;
  }
  .artist-name {
    font-size: 1.6rem;
  }
  .releases {
    flex-direction: row;
  }
  .rel-img {
    margin-top: 2%;
    width: 160px;
    height: 160px;
    display: block;
    clear: both;
    transition: 0.7s all ease-in;
  }
  /************************About-Page***********************************/

  .stpn-text {
    padding: 1% 3%;
    font-size: 1rem;
    margin-top: 0;
    height: 25.5em;
    overflow: auto;
  }

  .about-text {
    padding: 1% 3%;
    font-size: 1rem;
    margin-top: 0;
  }

  .stpn-content {
    display: flex;
    justify-content: space-between;
  }
  .stpn-media {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .band-photo {
    border: 16px solid white;
    outline: 2px solid #e6b31e;
    width: 75%;
    margin: 0 4%;
  }
  .aboutimg {
    width: 40%;
    margin-bottom: 2%;
  }
}

@media screen and (min-width: 901px) {
  /************************SIDENAV***********************************/

  .sidenav {
    padding-top: 3%;
  }

  .sidenav a {
    font-size: 1.4rem;
    margin: 220% 0 0 26%;
  }

  /************************LOGOS***********************************/

  .icon {
    padding-top: 1%;
    width: 14%;
  }

  .logo {
    width: 59%;
  }

  .logos-index {
    margin-top: 5%;
  }

  /************************RELEASES***********************************/
  .releases {
    margin-top: 0;
  }

  .rel-img {
    width: 200px;
    height: 200px;
  }

  .stpn-text {
    width: 40%;
    order: 0;
  }

  .about-text {
    margin: 2%;
    height: 29em;
    overflow: auto;
  }

  .lottie {
    margin-top: 0%;
    width: 76%;
  }

  Iframe {
    width: 330px;
    margin-top: 2%;
  }

  /************************ABOUT***********************************/
  .about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 2%;
  }
  .stpn-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .stpn-text {
    width: 205%;
    order: 0;
    margin-top: 2;
    overflow: auto;
    height: 26em;
    margin-top: 0;
  }
  .stpn-media {
    padding-right: 4%;
  }
  .band-photo {
    width: 56%;
  }

  .form {
    margin-top: 4%;
  }

  .aboutimg {
    width: 50%;
    margin: 2%;
  }
}

@media screen and (min-width: 1127px) {
  h1 {
    margin: -2% auto 0%;
    font-size: 2em;
  }
  /************************SIDENAV***********************************/
  .sidenav {
    width: 5%;
    border-left: 16px white solid;
  }

  .sidenav a {
    margin: 230% 0 0 26%;
  }

  /************************LOGOS***********************************/
  .icon {
    padding-top: 0.5%;
    width: 10%;
  }

  .logo {
    margin: 3% AUTO;
    width: 35%;
  }
  .logos {
    margin-top: 1.4%;
    font-size: 0.8rem;
  }

  .lottie {
    margin-top: 0;
    width: 65%;
  }
  .copyright {
    margin-top: 0;
    font-size: 0.6rem;
  }

  .stpn-text {
    font-size: 1.1rem;
    width: 250%;
    height: 26em;
  }
  .band-photo {
    width: 64%;
  }

  .about-text {
    height: 21em;
    overflow: auto;
  }

  .aboutimg {
    width: 40%;
  }
  .form {
    margin-top: 1%;
  }
}
@media screen and (min-width: 1600px) {
  h1 {
    font-size: 2rem;
  }
  .lottie {
    margin-top: 0;
  }
  /************************SIDENAV***********************************/

  .sidenav {
    width: 4%;
  }

  .sidenav a {
    font-size: 1.6rem;
    margin: 290% 0 0 28%;
  }
  /************************Music***********************************/

  .rel-img {
    width: 250px;
    height: 250px;
  }
  .artist-name {
    font-size: 2rem;
  }
  .rel-item p {
    font-size: 1.6rem;
  }
  .band-photo {
    width: 60%;
    margin: 0 5%;
  }
  .stpn-text {
    height: 33rem;
  }

  Iframe {
    width: 350px;
    height: 30px;
    border: 2px solid black;
    margin: 2% auto;
  }
  /************************LOGOS***********************************/

  .icon {
    width: 9%;
  }

  .logo {
    margin: 3% AUTO;
    width: 35%;
  }
  .logos {
    margin-top: 1%;
    font-size: 1rem;
  }

  .copyright {
    font-size: 0.9rem;
  }

  .label-name {
    font-size: 1rem;
  }

  .about-text,
  .stpn-text {
    font-size: 1.2rem;
    overflow: hidden;
  }

  .aboutimg {
    width: 40%;
  }

  .form {
    font-size: 1.4rem;
    width: 100%;
  }
}
