@font-face {
  font-family: "maakudafont";
  src: url("./fonts/MAAKUDA.ttf");
}
@font-face {
  font-family: "mono";
  src: url("./fonts/CutiveMono-Regular.ttf");
}

body {
  background-color: #cacaca;
  font-family: monospace;
  margin: 0% 6% 0 0%;
}

h1 {
  text-shadow: 2px 2px #fff;
  text-decoration: none;
  text-align: center;
  font-family: "maakudafont";
  animation: 0.7s ease-out slideInFromUp;
}

.footer {
  text-align: center;
  display: contents;
  margin-top: 4%;
}

a {
  text-decoration: none;
  color: black;
}
.lottie {
  margin: 0 auto;
}

.icon {
  padding: 1% 0 0 3%;
}

Iframe {
  margin: 2% auto;
  width: 265px;
  height: 500px;
}
.media-content {
}

/*******************************Sidenav****************************/

.sidenav {
  height: 100%;
  width: 7%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #e6b31e;
  border-left: 12px rgb(255, 255, 255) solid;

  font-weight: 600;
}
.sidenav:after {
  border-left: 3px solid rgb(0, 0, 0);
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  z-index: -1;
}
.sidenav a {
  writing-mode: vertical-rl;
  font-family: "maakudafont";
  font-size: 1.2rem;
  margin: 350% 0 0 20%;
}
.sidenav a:hover {
  color: #f1f1f1;
}
/*******************************LOGOS****************************/

.logos-index {
  text-align: center;
}
.logos-index a :hover {
  color: rgb(150, 1, 1);
}

@keyframes slideInFromUp {
  0% {
    transform: translateY(-45%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacity {
  0% {
    opacity: 0.4;
  }
  100% {
  }
}

.logos a :hover {
  color: rgb(150, 1, 1);
}

.copyright {
  text-align: center;
  font-family: "maakudafont";
}

.tamir {
  font-weight: 400;
  text-decoration: underline;
}
.tamir:hover {
  cursor: pointer;
  color: rgb(150, 1, 1);
}
.label-name {
  font-family: "maakudafont";
  font-weight: 800;
  font-size: 0.8rem;
}

.logo {
  display: block;
  margin: 0 auto;
}

/*******************************ABOUT-PAGE****************************/
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.about-text {
  font-size: 1.4em;
  background-color: #e6b31e;
  border-top: 0.6em white solid;
  border-bottom: 0.2em rgb(255, 255, 255) solid;
  box-sizing: border-box;
  text-align: justify;
  overflow: scroll;
}

.form {
  display: block;
  padding: 1% 1%;
  background-color: #e6b31e;
  font-size: 1rem;
  text-align: center;
  font-family: "mono";
  font-weight: 800;
  border-top: 14px rgb(255, 255, 255) solid;
  border-bottom: 5px rgb(0, 0, 0) solid;
}

form a:hover {
  color: rgb(150, 1, 1);
}

/*******************************RELEASES****************************/

.releases {
  display: flex;
  justify-content: center;
  text-align: center;
}

.rel-item {
  margin: 3% 4%;
}

.rel-item p {
  font-size: 1.6rem;
  padding-left: 20%;
}
.rel-img {
  border: 5px rgb(0, 0, 0) double;
  animation: 0.3s ease-in opacity;
  width: 40%;
}

.rel-img:hover {
  opacity: 0.6;
}

/************************IPHONE***********************************/

@media screen and (max-device-width: 550px) {
  h1 {
    font-size: 1.4rem;
  }
  .home-h1 {
    font-size: 1.1rem;
  }
  .copyright {
    font-size: 0.6rem;
    padding-top: 1%;
  }
  /************************Sidenav***********************************/

  .sidenav {
    width: 13%;
    border-left: 8px rgb(255, 255, 255) solid;
  }

  .sidenav a {
    margin: 350% 28% 0 22%;
    font-size: 1.3rem;
  }

  /************************LOGOS***********************************/

  .lottie {
    margin-top: 23%;
  }

  .logos-index {
    margin-top: 23%;
  }
  .logo {
    width: 70%;
  }
  .logos {
    margin-top: 3%;
  }

  .icon {
    width: 25%;
    padding-left: 38%;
  }

  /************************Releases***********************************/

  .releases {
    display: block;
  }

  .rel-item p {
    font-size: 1rem;
    padding-right: 20%;
  }

  /************************ABOUT***********************************/

  .about-text {
    font-size: 1rem;
    padding: 2% 11% 2% 3%;
    max-width: 100%;
  }
  .band-photo {
    width: 90%;
    margin: 2%;
  }
}
/************************TABLET***********************************/
@media screen and (min-width: 550px) {
  h1 {
    font-size: 1.8rem;
    margin: 0;
  }

  /************************LOGOS***********************************/

  .lottie {
    margin-top: 3%;
  }

  .icon {
    width: 13%;
    padding-top: 1%;
  }

  .logo {
    width: 60%;
  }

  /************************RELEASES***********************************/

  .rel-img {
    width: 200px;
    height: 200px;
  }
  .rel-item p {
    font-size: 1.2rem;
    padding-right: 20%;
  }
  /************************About-Page***********************************/

  .about-text {
    padding: 2% 3%;
  }

  .stpn-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
    align-items: center;
  }
  .band-photo {
    width: 45%;
    margin: 0 4%;
  }
  .about-text {
    order: 3;
  }
}

@media screen and (min-width: 901px) {
  /************************SIDENAV***********************************/

  .sidenav {
    padding-top: 3%;
  }

  .sidenav a {
    font-size: 1.5rem;
    margin: 240% 0 0 22%;
  }

  /************************LOGOS***********************************/

  .icon {
    width: 13%;
  }

  .logo {
    width: 59%;
  }

  .logos-index {
    margin-top: 7%;
  }

  /************************RELEASES***********************************/
  .releases {
    margin-top: 0;
  }

  .rel-img {
    margin-top: 3%;
    width: 256px;
    height: 256px;
  }

  .about-text {
    width: 40%;
    /* overflow: scroll; */
    /* height: 400px; */
    order: 0;
  }

  .band-photo {
    width: 30%;
    margin: 0 1%;
  }

  /************************ABOUT***********************************/
  .about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 3%;
  }
}

@media screen and (min-width: 1127px) {
  /************************SIDENAV***********************************/
  .sidenav {
    width: 5%;
  }

  .sidenav a {
    margin: 230% 0 0 30%;
  }

  .band-photo {
    width: 30%;
    margin: 1%;
  }
  .about-text {
    order: 0;
  }

  /************************LOGOS***********************************/
  .icon {
    width: 9%;
  }

  .logo {
    margin: 3% AUTO;
    width: 35%;
  }
  .logos {
    margin-top: 2%;
  }
  .lottie {
    width: 50%;
  }
  .copyright {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 2071px) {
  /************************SIDENAV***********************************/
  .sidenav {
    width: 4%;
  }

  .sidenav a {
    margin: 290% 0 0 28%;
  }

  /************************LOGOS***********************************/

  .icon {
    width: 7%;
  }

  .logo {
    margin: 3% AUTO;
    width: 35%;
  }
}
